<h2>Log in</h2>

<form class="" action="/auth/login" method="post">
  <div class="row">
    <div class="input-field col s12 m6">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" class="validate">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <button class="btn waves-effect waves-light" type="submit" name="action">Submit
      </button>
    </div>
  </div>
</form>
