<h2>Sign up</h2>

<form class="" action="/auth/signup" method="post">
  <div class="row">
    <div class="input-field col s12 m6">
      <label for="firstname">First Name</label>
      <input type="text" name="firstname" id="firstname" required>
    </div>
    <div class="input-field col s12 m6">
      <label for="lastname">Last Name</label>
      <input type="text" name="lastname" id="lastname" required>
    </div>

  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <label for="email">Email</label>
      <input type="email" name="email" id="email" required>
    </div>
    <div class="input-field col s12 m6">
      <label for="password">Password</label>
      <input type="password" name="password" id="password" required>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <label for="dob">Date of Birth</label>
      <input type="date" name="dob" id="dob" placeholder=" " class="datepicker validate">
    </div>
    <div class="input-field col s12 m6">
      <label for="image">Image URL</label>
      <input type="url" name="image" id="image">
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <button class="btn waves-effect waves-light" type="submit">Submit
      <i class="material-icons">send</i></button>
    </div>
  </div>
</form>
